/*モーダルウィンドウ*/
#addModal {
  display: none;
  position: fixed;
  z-index: 15;
  left: 10%;
  top: 0;
  width: 75%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 8px;
  color: #000000;
  font-size: 1.3px;
}
.addmodal-content {
  margin: auto;
  padding: 20px;
  border: 5px solid #808080;
  width: 50%;
}

/*ToDoList*/
#addButton{
  text-align: right;
}
table,td,th{
  border: 1px solid #000000;
  border-collapse: collapse;
  text-align: center;
<<<<<<< HEAD

=======
>>>>>>> a88b348 (指摘No.17)
}
tr #num{
  width:3%;
}
tr #title{
  width: 15%;
}
tr #content{
  width: 55%;
}
tr #create,#edit{
  width: 10%;
}
tr #btn{
  width: 5%;
}
.header{
  background-color: #f0908d;
}

/*入力欄*/
.title,.content {
<<<<<<< HEAD
  display: block;
  width: 100%;
  font-family: "メイリオ";
=======
  font-family: "メイリオ";
  width: 500px;
>>>>>>> a88b348 (指摘No.17)
  font-size: 16px;
  padding: 10px;
  border: 2px solid #808080;
  border-radius: 6px;
}

/*編集画面のボタン*/
a.back{
  display: inline-block;
  border: 1px solid #303030;
  border-radius: 5%; /* 角丸       */
  font-size: 8px; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 8px 10px; /* 余白       */
  background: #cccccc; /* 背景色     */
  color: #000000; /* 文字色     */
<<<<<<< HEAD
  line-height: 1px; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
}
.push {
=======
  line-height: 15px; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
}
button.push {
  display: inline-block;
>>>>>>> a88b348 (指摘No.17)
  border: 1px solid #303030;
  border-radius: 5%; /* 角丸       */
  font-size: 8px; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 15px 12px; /* 余白       */
  background: #cccccc; /* 背景色     */
  color: #000000; /* 文字色     */
  line-height: 1px; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
}


/* #cntModal {
  display: none;
  position: fixed;
  z-index: 15;
  left: 10%;
  top: 0;
  width: 75%;
  height: 100%;
  overflow: auto;
  background-color: #ffff;
  border-radius: 8px;
  color: #000;
  font-size: 1.3rem;
}

.cntmodal-content {
  margin: auto;
  padding: 20px;
  border: 5px solid #888;
  width: 50%;
} */